@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  scroll-behavior: smooth;
}

.app {
  @apply px-5 py-3 lg:px-[10rem] 
  xl:px-[15rem] lg:py-[.5rem] font-Inter transition duration-500 relative;
}

.image-ctn {
  border-radius: 51% 49% 50% 50% / 30% 31% 69% 70%;
  /* border-radius: 50%; */
  @apply object-contain w-[13rem] md:w-[15rem] xl:w-[18rem];
}

.section-header {
  @apply text-xl md:text-2xl lg:text-4xl font-semibold text-blue-500;
}

.section-p {
  @apply text-gray-400 dark:text-gray-500;
}

.skill-header {
  @apply dark:text-gray-200 flex items-center gap-x-3 font-bold text-base  md:text-xl;
}

.hamburger-button {
  @apply flex flex-col justify-between bg-gray-200  h-3 items-center  bg-transparent border-0 cursor-pointer transition-transform duration-300;
}

.hamburger-button span {
  @apply rounded-full w-7 h-1 bg-black dark:bg-gray-200 transition-transform duration-300;
}

.hamburger-button.open span:first-child {
  @apply transform rotate-45 translate-y-1;
}
.hamburger-button.open span:last-child {
  @apply transform -rotate-45 translate-y-[-4px];
}
